body{
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;  
    flex-direction: column;
    background-image: url(./img/Group\ 18.svg);
    background-repeat: no-repeat;
    
}
.headingdiv{
    padding: 2%;
    padding-right: 5%;
    padding-left: 10%;
    display: flex;
    background-color: white;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.hdul1{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2vw;
}
.headbt{
    width: 146px;
    height: 40px;
    border: 1.5px solid #2C2830;
    background-color: #FFFF;
}
.listdiv_1{
    display: flex;
    justify-content: flex-end;
    gap: 33px;
}
.aus1{
    text-decoration: none;
    color: #837D88;
}

.content_1div{
    height: 600px;
    background: #2D2641;
    padding-left: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20%;
}   

.left_1div{
    width: 540px;
}
.h1div_1{
    color: #FFF;
    font-size: 36px;
}
.spandiv_1{
    font-size: 18px;
    color: white;
    margin-bottom: 5%;
}
.content1bt{
    border: 1.5px solid white;
    background-color: #2D2641;
    color: white;
    width: 146px;
    height: 40px;
}
.rightcontent_1div{
    margin-top: 20%;
}

.content_2div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    padding-right: 20%;
}
.content2_topdiv{
    background-color: white;
    width: 1400px;
    height: 409px;
}
.h1div_2{
    margin-top: 5%;
    font-size: 300%;
    padding-bottom: 7%;
}
.content2_bottomcontdiv{
    width: 130%;
    height: 100px;
}
.content2_h1div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.spancentrdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content2_imgdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cont2h1div2{
    
    color: #2C2830;
}
.cont2h1div3{
    margin-right: 6.5%;
    color: #2C2830;
}
.cont2imgdiv2{
    margin-right: 1%;
}
.cont2imgdiv3{
    margin-right: 11%;
}
.spancont2div3{
    width: 15.7%;
    color: #837D88;
}
.spancont2div2{
    width: 18%;
    color: #837D88;
}
.spancont2div1{
    width: 17%;
    color: #837D88;
}
.content_3div{
    background-image: url(./img/Group\ 10.svg);
    background-repeat: no-repeat;
    background-position: 100%;
    width: 58.5%;
    height: 20.5%;
    margin-top: 22%;
    background-color: #2D2641;
    margin-left: 18.5%;
    
}

.content_3div{
    padding-left:3.2% ;
    padding-right:3.2% ;
    padding-top: 1.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cont3h1div{
    width: 40%;
}
.cont3h1{
    font-size: 330%;
    color: white;
}
.cont3bt{
    width: 200px;
    height: 50px;
    border: 1.5px solid white;
    background-color: inherit;
    color: white;
    
}

.ftm2_div{
    margin-right: 20%;
    margin-left: 18.5%;
    
    width: 65%;
    height: 393px;
    margin-top: 11%;
}
.fttopdiv{
    padding-left: 3.2%;
    padding-right: 5.7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.recdiv1{
    margin-top: 3.5%;
    margin-left: 4.5%;
}
.headingdiv1{
    padding-left: 3.5%;
    margin-top: 4.4%;
    width: 88%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list1ftst{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}


.footer_div{
    background-image: url(./img/Group\ 22.svg);
    width: 100%;
    background-repeat: no-repeat;
    
}
.listscenterdiv{

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.listft_2{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
.listft_3{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
.listft_4{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
.list4div{
    margin-right: 7.5%;
}
.list3div{
    margin-right: -1%;
}
.list2div{
    margin-right: -4%;
}
.aus2{
    color: #2D2641;
}
.content_1div{
    background-image: url(./img/Group\ 17.png);
    background-repeat: no-repeat;
    background-position: 100%;
}